.task-list {
  padding: 10px;
}

.task-creation {
  display: flex;
  margin: 10px;
  gap: 10px;
  flex-direction: row-reverse;
  button {
    background-color: #28a745;
    width: 10rem;
    height: 3rem;
    border-color: #28a745;
    color: white;
  }
}

.task-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.task-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
}

.task-meta-detail {
  margin: 10px;
  font-size: 14px;
}

.priority {
  font-size: 14px;
  .high {
    color: red;
  }
  .medium {
    color: orange;
  }
  .low {
    color: green;
  }
}

button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.edit-button {
  color: #007bff;
}

.delete-button {
  color: #dc3545;
}

.content-center {
  font-size: 1.6em;
  color: #a5a5a5;
  text-align: center;
  padding: 25px;
  background: none;
  display: block;
}
