<nav>
  <h2>Kanban Board</h2>
  <div class="search">
    <input type="text" id="search-input" />
    <button id="search-btn">Search</button>
  </div>
</nav>

<div class="container">
  <div class="board">
    <div class="task-list">
      <div class="header">
        <h2>To-Do</h2>
        <button class="add-task-board">Add Task</button>
        <button class="task-item-close">✖</button>
      </div>
      <ul class="list">
        <li class="task-item">
          <h4>BackEnd Developing</h4>
          <p>
            Lorem Ipsum, Dolor Sit Amet Consectetur Adipisicing Elit. Maxime
            Ratione Minima Quibusdam Eligendi Vitae Voluptate Eu...
          </p>
          <span class="status low">Low</span>
          <button class="task-item-close">✖</button>
        </li>
        <li class="task-item">
          <h4>Api Required For Login</h4>
          <p>
            Lorem Ipsum, Dolor Sit Amet Consectetur Adipisicing Elit. Maxime
            Ratione Minima Quibusdam Eligendi Vitae Voluptate Eu...
          </p>
          <span class="status high">High</span>
          <button class="task-item-close">✖</button>
        </li>
      </ul>
    </div>

    <div class="task-list">
      <div class="header">
        <h2>In-Progress</h2>
        <button class="add-task-board">Add Task</button>
        <button class="task-item-close">✖</button>
      </div>
      <ul class="list">
        <li class="task-item">
          <h4>Loas</h4>
          <p>Loaram</p>
          <span class="status medium">Medium</span>
          <button class="task-item-close">✖</button>
        </li>
      </ul>
    </div>

    <div class="task-list">
      <div class="header">
        <h2>Done</h2>
        <button class="add-task-board">Add Task</button>
        <button class="task-item-close">✖</button>
      </div>
      <ul class="list">
        <li class="task-item">
          <h4>SRR Documentation</h4>
          <p>
            Lorem Ipsum, Dolor Sit Amet Consectetur Adipisicing Elit. Maxime
            Ratione Minima Quibusdam Eligendi Vitae Voluptate Eu...
          </p>
          <span class="status low">Low</span>
          <button class="task-item-close">✖</button>
        </li>
      </ul>
    </div>

    <button class="btn-board add-task-board">Add New Task Board</button>
  </div>
</div>
